:root {
    /* states */
    --finished-background: #018e0d;
    --finished-text: #abfecd;

    --onGoing-text: rgb(251, 255, 141);
    --onGoing-background: rgb(161, 151, 0);
}

.projects__container {
    grid-row: 3;
    font-size: var(--text-sm);
}

.projects__title {
    text-align: center;
}

.projects__card__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 600px));
    gap: 32px;
    padding: 15px;
    justify-content: center;
}

.projects__card {
    box-shadow: var(--secondary-background) 0px 3px 8px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px dotted var(--secondary-background);
}

.projects__card__header {
    text-align: left;
    height: 70px;
}

.projects__card__title {
    margin-bottom: 5px;
}
.projects__card__img{
    max-height: 520px;
    width: 100%;
}
.projects__card__img img {
    border-radius: 15px;
}

.projects__card__technologies {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
    padding: 5px;
}
.projects__card__technologies_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 20px;
    border-radius: 15px;
    font-size: var(--text-sm);
    box-shadow: var(--secondary-background) 0px 3px 8px;
    transition: transform .2s ease-in-out;
}
.projects__card__technologies_item:hover {
    transform: scale(1.1);
}
.projects__card__links__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__card__links {
    box-shadow: var(--secondary-background) 0px 3px 8px;
    border-radius: 10px;
    padding: 15px;
    max-width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: transform .2s ease-in-out, box-shadow .4s ease-out;
}
.projects__card__links:hover {
    transform: scale(1.05);
    box-shadow: var( --highlight-color) 0px 3px 8px;
}


.projects__card__notes {
    width: 100%;
    height: 170px;
}

.projects__card__notes__list {
    margin-top: 10px;
    list-style-type: disc;
    list-style-position: inside;
    color: rgb(117, 117, 117);
}
.projects__card__notes__list>li {
    word-break: break-word;
    line-height: 1.5;
}

.states{
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}
.stateFinished {
    background-color: var(--finished-background);
    color: var(--finished-text);

}

.stateOnGoing {
    background-color: var(--onGoing-background);
    color: var(--onGoing-text);
}