html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-width: 0;
}

:root {
  color-scheme: light dark;
  /*colors light*/
  --light-100: #FFFFFF;
  --light-200: #d6d6d6;
  --light-300: #afafaf;
  --light-400: #898989;
  --light-accent: #5638ff;
  /*colors dark*/
  --dark-100: #000000;
  --dark-200: #282828;
  --dark-300: #3f3f3f;
  --dark-400: #575757;
  --dark-accent: #382bf0;
  /*blue*/
  --blue-50: #d9d9ff;
  --blue-100: #382bf0;
  --blue-200: #5e43f3;
  --blue-300: #7a5af5;
  --blue-400: #9171f8;
  /*red*/
  --red-100: #ff0033;
  --red-200: #ff4347;
  --red-300: #ff4347;
  /*themes*/
  --primary-background: light-dark(var(--light-100), var(--dark-100));
  --secondary-background: light-dark(var(--light-200), var(--dark-200));
  --primary-color: light-dark(var(--dark-100), var(--light-100));
  --highlight-color: light-dark(var(--light-accent), var(--dark-accent));
  --primary-container-background: light-dark(var(--blue-50), var(--red-800));
  /**/
  --title-color: light-dark(var(--dark-300), var(--light-200));
  --title-color-invert: light-dark(var(--light-100), var(--dark-200));
  --border-color: light-dark(var(--blue-200), var(--red-200));
  /*text sizes*/
  --text-sm: clamp(1rem, 0.13vi + 0.77rem, 0.89rem);
  --text-base: clamp(1rem, 0.27vi + 0.93rem, 1.19rem);
  --text-md: clamp(1.25rem, 0.47vi + 1.43rem, 1.78rem);
  --text-lg: clamp(1.56rem, 0.78vi + 1.37rem, 2.11rem);
  --text-xl: clamp(1.95rem, 1.22vi + 1.65rem, 2.81rem);
  /**/
  --transition-opacity: opacity 1s
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

body {
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--primary-background);
  font-family: 'Onest Variable', sans-serif;
}

.upperCase {
  text-transform: uppercase;
}

.iconSizeMenu {
  width: 25px;
  height: 25px;
}

.iconSizeCards {
  width: 20px;
  height: 20px;
}

/*typingAnimation*/
.typingAnimation {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 15ch;
  /*animation*/
  animation: typing 2s steps(15),
    blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*buttons sizes*/
.buttonSizes {
  height: 50px;
  max-width: 190px;
  padding: 20px;
  border-radius: 30px;
}

.staticImg:hover {
  opacity: 0;
}